accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
git+https://github.com/huggingface/peft.git
git+https://github.com/openai/human-eval.git
transformers>=4.28.0
sentencepiece
gradio
